<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>洋葱后台发布系统</title>

<link href="/static/css/bootstrap.min.css" rel="stylesheet">
<link href="/static/css/datepicker3.css" rel="stylesheet">
<link href="/static/css/styles.css" rel="stylesheet">

<!--[if lt IE 9]>
<script src="/static/js/html5shiv.js"></script>
<script src="/static/js/respond.min.js"></script>
<![endif]-->

</head>

<body>
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#"><span>洋葱后台发布系统</span></a>
				<ul class="user-menu">
					<li class="dropdown pull-right">
					{% if username %}
						<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> {{ username }} <span class="caret"></span></a>
					{% else %}
						<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> User <span class="caret"></span></a>
					{% endif %}						<ul class="dropdown-menu" role="menu">
							<li><a href="#"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
							<li><a href="#"><span class="glyphicon glyphicon-cog"></span> Settings</a></li>
							<li><a href="/autodeploy/logout/"> Logout</a></li>
						</ul>
					</li>
				</ul>
			</div>
							
		</div><!-- /.container-fluid -->
	</nav>
		
	<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
		<form role="search">
			<div class="form-group">
				
			</div>
		</form>
		<ul class="nav menu">
			<li><a href="/autodeploy/index"><span class="glyphicon glyphicon-home"></span> 首页</a></li>
				<ul class="children collapse" id="sub-item-1">
					<li>
						<a class="" href="#">
							<span class="glyphicon glyphicon-share-alt"></span> Sub Item 1
						</a>
					</li>
					<li>
						<a class="" href="#">
							<span class="glyphicon glyphicon-share-alt"></span> Sub Item 2
						</a>
					</li>
					<li>
						<a class="" href="#">
							<span class="glyphicon glyphicon-share-alt"></span> Sub Item 3
						</a>
					</li>
				</ul>
			</li>
			<li role="presentation" class="divider"></li>
			<li class="active"><a href="/autodeploy/userprofile"><span class="glyphicon glyphicon-user"></span> 用户管理</a></li>
		</ul>
		<div class="attribution">Template by Medialoot</a></div>
	</div><!--/.sidebar-->
		
	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">			
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="#"><span class="glyphicon glyphicon-home"></span></a></li>
				{%if username%}
				<li class="active">Hi, {{username}}</li>
				{%else%}
				<li class="active">Hi, Anonymous</li>
				{%endif%}
			</ol>
		</div><!--/.row-->
		
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">洋葱后台发布系统</h1>
			</div>
		</div><!--/.row-->
				
		
		<div class="row">
			<div class="col-md-8">
				<div class="panel panel-default">
					<div class="panel-heading"><span class="glyphicon glyphicon-envelope"></span> 用户信息修改：</div>
					<div class="panel-body">
						<form method="Post" action="/autodeploy/modifyuser/" name="form" class="form-horizontal">
							<fieldset>
								<!-- Name input-->
								<div class="form-group">
									<label class="col-md-3 control-label" for="name">姓名: </label>
									<div class="col-md-9">
									<input id="name" name="username" type="text" placeholder={{username}} class="form-control" readonly="readonly">
									</div>
								</div>
							
								<!-- Email input-->
								<div class="form-group">
									<label class="col-md-3 control-label" for="email">邮箱: </label>
									<div class="col-md-9">
										<input id="email" value={{email}} name="email" type="text" placeholder={{email}} class="form-control" readonly="readonly">
									</div>
								</div>
								
								<!-- Password body -->
								<div class="form-group">
									<label class="col-md-3 control-label" for="email">密码: </label>
									<div class="col-md-9">
										<input id="pwd" name="pwd" type="password" placeholder="修改密码" class="form-control">
									</div>
								</div>
								<!-- result body -->
								<div class="form-group">
									<label class="col-md-3 control-label" for=""> </label>
									<div class="col-md-9">
										<h4>{{result}}</h4>
									</div>
								</div>
								
								<!-- Form actions -->
								<div class="form-group">
									<label class="col-md-3 control-label" for=""> </label>
									<div class="col-md-9 widget-right">
										<button type="button" class="btn btn-primary pull-right" onClick="clickHandler()">Logout</button>
										<button type="submit" class="btn btn-primary pull-left">Submit</button>
									</div>
								</div>
							</fieldset>
						</form>
					</div>
				</div>
		</div><!-- /.row -->
		
	</div><!--/.main-->

	<script src="/static/js/jquery-1.11.1.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
	<script src="/static/js/chart.min.js"></script>
	<script src="/static/js/chart-data.js"></script>
	<script src="/static/js/easypiechart.js"></script>
	<script src="/static/js/easypiechart-data.js"></script>
	<script src="/static/js/bootstrap-datepicker.js"></script>
	<script>
		function clickHandler(){
			window.location.replace("/autodeploy/logout/");
		}
	
		!function ($) {
			$(document).on("click","ul.nav li.parent > a > span.icon", function(){		  
				$(this).find('em:first').toggleClass("glyphicon-minus");	  
			}); 
			$(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
		}(window.jQuery);

		$(window).on('resize', function () {
		  if ($(window).width() > 768) $('#sidebar-collapse').collapse('show')
		})
		$(window).on('resize', function () {
		  if ($(window).width() <= 767) $('#sidebar-collapse').collapse('hide')
		})
	</script>	
</body>

</html>
